@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');
/* 1 */
body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    background: #cae3f8;
    color: #00233f;
}
/* 10 */
.header { 
    background: #70afe2;
    display: flex;
    justify-content:space-between;
    padding: 15px 15px;
    align-items: center;
}
/* 10 */
.header__logo {    
    display: block;
    width: 100px;
}
/* 10 */
.header__heading {
    font-size: 3rem;
    color: #00233f;
    text-transform: uppercase;
}
/* 10 */
.header__autorization__link {
    text-decoration: none;
    padding: 12px 20px;
    background: #2f80ed;
    color: #FFF;
    font-weight: 500;
    border-radius: 10px;
    transition: all .3s;
}
/* 20 */
.header__autorization__link:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
}
/* 20 */
.header__autorization__link:first-child {
    margin-right: 15px;
}