@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');
/* 1 */
body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    background: #cae3f8;
    color: #00233f;
}
/* 10 */
.header,
.footer { 
    background: #70afe2;
    display: flex;
    justify-content:space-between;
    padding: 15px 15px;
    align-items: center;
}
/* 10 */
.header__logo,
.footer__logo {    
    display: block;
    width: 100px;
}
/* 10 */
.header__heading,
.footer__heading {
    font-size: 3rem;
    color: #00233f;
    text-transform: uppercase;
}
/* 10 */
.header__autorization__link,
.form__btn__item,
.car__link {
    text-decoration: none;
    padding: 12px 20px;
    background: #2f80ed;
    color: #FFF;
    font-weight: 500;
    border-radius: 10px;
    transition: all .3s;
}
/* 20 */
.header__autorization__link:hover,
.form__btn__item:hover,
.car__link:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    cursor: pointer;
}
/* 20 */
.header__autorization__link:first-child {
    margin-right: 15px;
}
/* 10 */
.content__search {
    padding: 1% 2%;
}
.content__search__heading {
    font-size: 2rem;
    margin-bottom: 1%;
}
.content__search__form {
    padding: 1%;
    border:#70afe2 4px solid; 
    border-radius: 10px;
}
.form__content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.form__content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../img/form-background.png) no-repeat center/contain;
    opacity: .1;
}
.form__content__box {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.form__label,
.form__legend {
    font-weight: 600;
    display: block;
    margin-bottom: 1%;
    font-size: 1.2rem;
}
.form__legend {
    margin-bottom: 2%;
}
.form__select {
    width: 100%;
}
.form__select:hover,
.form__input:hover {
    background-color: #197ed1;
}
.form__input::placeholder {
    color: #fff;
}
.form__select,
.form__input {
    background-color: #5d9fd4;
    color: #fff;
    border-radius: 5px;
    border: #197ed1 2px solid;
    padding: 1%;
}
.form__input {
    padding-left: 8px;
}
.form__item {
    margin-bottom: 2%;
}
.form__item__container{
    padding-left: 3%;
}
.form__label--specify {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 1%;
}
.form__item__box {
    display: flex;
    gap: 10px;
}   
.form__item__box .form__input,
.form__item__box .form__select {
    flex-grow: 1;
}
.form__btn {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
.form__btn__item {
    border: none;
    font-weight: 600;
    padding: 12px 50px;
    font-size: 1.1rem;
}
.cars {
    display: flex;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
}
.car {
    width: 25%;
    margin: 3% 2%;
    padding: 1%;
    border:#70afe2 4px solid; 
    border-radius: 10px;
    background-color: #b2d8f7;
}
.car__image__box {
    overflow: hidden;
}
.car__image {
    width: 100%;
    margin-bottom: 2%;
    transition: 0.3s;
}
.car__image:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.car__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    color: #12314b;
    padding: 1% 5%;
}
.car__content {
    margin-top: 1%;
    padding-left: 5%;
}
.content__data {
    display: flex;
    gap: 20px;
    
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.car__content__heading {
    font-weight: 600;
    margin-bottom: 1%;
}
.car__content__text {
    margin-bottom: 2%;
}
.car__footer {
    text-align: center;
}
.car__link {
    display: block;
}
.footer {
    justify-content: center;
    gap: 20px;
}